.container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  border-radius: 6px;

  font-size: 14px;
  font-family: itdeltaFontMedium;

  gap: 10px;
  background-color: white;
  border: 1px solid var(--border-color);
}

.container:hover {
  background-color: rgb(123, 211, 238);
  transition: 0.3s all;
  cursor: pointer;
}
